[submodule "reservation-be"]
	path = reservation-be
	url = https://github.com/netgroup-polito/reservation-be
[submodule "reservation-fe"]
	path = reservation-fe
	url = https://github.com/netgroup-polito/reservation-fe
[submodule "reservation-event-processor"]
	path = reservation-event-processor
	url = https://github.com/netgroup-polito/reservation-event-processor
